<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Plant Feed</title>
    <!-- FAVICON -->
    <link rel="icon" href="../views/plant-favicon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/plantFeed.css">
    <!-- JS -->
    <script defer src="../js/populate-nav.js"></script>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Junge&family=Rosarivo:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <nav></nav>
    <div class="centered" style="margin-left: 5%; margin-right: 5%">
        <h1>Welcome to the plant feed!</h1>
        <p>Come check out what others are up to!</p>
        <p>Click on any plant to bring up its individual plant page</p>
        <div id="plants">
            {%for plant in plants%}
                <div class="card" onclick="window.location.href = '/templates/plant?id={{plant['_id']}}'">
                    <img src="/uploads/{{plant['fname']}}">
                </div>
            {%endfor%}
        </div>
    </div>
</body>
</html>

