<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{plant['name']}} Information</title>
    <!-- FAVICON -->
    <link rel="icon" href="../views/plant-favicon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/plantPage.css">
    <!-- JS -->
    <script defer src="../js/individual-plant.js"></script>
    <script defer src="../js/populate-nav.js"></script>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Junge&family=Rosarivo:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
    </nav>
    <div id="plant-body">
        <h1 id="p-header">All about {{plant['name']}}!</h1>
        {% if session['username'] != plant['owner']%}
            <p>Owned by {{plant['owner']}}</p>
        {% endif %}
        <div id="picture-and-caption">
            <img id="plant-picture" src="../backend/uploads/{{plant['fname']}}">
            <p id="caption"></p>
        </div>
        <div class="centered">
        <div style="text-align: center">
            <p><strong>Name:</strong> {{plant['name']}}</p>
            <p><strong>Species:</strong> {{plant['species']}}</p>
            <p><strong>Description:</strong> {{plant['description']}}</p>
        </div>
        <div id="watering">
        {% if session['username'] == plant['owner']%}
        {# If the owner of the plant is the one looking, show watering info and buttons to edit / add a new watering #}
            {%if dateDifference(plant['lastWatered']) == 1%}
                <p>{{plant['name']}} has not been watered in <span class="white">{{dateDifference(plant['lastWatered'])}}</span> day. Way to stay on top of your watering!</p>
            {%elif dateDifference(plant['lastWatered']) < 7%}
                <p>{{plant['name']}} has not been watered in <span class="white">{{dateDifference(plant['lastWatered'])}}</span> days. Way to stay on top of your watering!</p>
            {%elif dateDifference(plant['lastWatered']) < 14%}
                <p>{{plant['name']}} has not been watered in <span class="yellow">{{dateDifference(plant['lastWatered'])}}</span> days. Time to grab the watering can!</p>
            {%else%}
                <p>{{plant['name']}} has not been watered in <span class="red">{{dateDifference(plant['lastWatered'])}}</span> days. You should probably get on that.</p>
            {%endif%}
                </div>
                <button onclick="water()">Click here to register a watering for today</button>
                <a href="/templates/editPlant?id={{plant['_id']}}"><button>Click here to edit {{plant['name']}}'s information</button></a>
        {% else %}
            {%if dateDifference(plant['lastWatered']) == 1%}
                <p id="watering">{{plant['name']}} has not been watered in <span class="white">{{dateDifference(plant['lastWatered'])}}</span> day. {{plant['owner']}} must be a watering pro!</p>
            {%elif dateDifference(plant['lastWatered']) < 7%}
                <p id="watering">{{plant['name']}} has not been watered in <span class="white">{{dateDifference(plant['lastWatered'])}}</span> days. {{plant['owner']}} must be a watering pro!</p>
            {%elif dateDifference(plant['lastWatered']) < 14%}
                <p id="watering">{{plant['name']}} has not been watered in <span class="yellow">{{dateDifference(plant['lastWatered'])}}</span> days. Time for {{plant['owner']}} to grab the watering can!</p>
            {%else%}
                <p id="watering">{{plant['name']}} has not been watered in <span class="red">{{dateDifference(plant['lastWatered'])}}</span> days. {{plant['owner']}} should probably get on that.</p>
            {%endif%}
        {% endif %}
        </div>
        <div class="dividing-line"></div>
        <div class="centered">
            <h1>Extra information</h1>
            {% if plant['species'][0] in 'aeiouAEIOU'%}
                <p><a href='https://www.google.com/search?q=How+often+should+I+water+an+{{plant["species"]}}+plant' style="text-decoration: underline" target="blank">How often should I water an {{plant['species']}}?</a></p>
                <p><a href='https://www.google.com/search?q=How+do+I+care+for+an+{{plant["species"]}}+plant' style="text-decoration: underline" target="blank">How to care for an {{plant['species']}}</a></p>
                            <p><a href='https://www.google.com/search?q=How+much+sun+does+an+{{plant["species"]}}+need' style="text-decoration: underline" target="blank">How much sunlight does an {{plant['species']}} need</a></p>
            {% else %}
                <p><a href='https://www.google.com/search?q=How+often+should+I+water+a+{{plant["species"]}}+plant' style="text-decoration: underline" target="blank">How often should I water a {{plant['species']}}?</a></p>
                <p><a href='https://www.google.com/search?q=How+do+I+care+for+a+{{plant["species"]}}+plant' style="text-decoration: underline" target="blank">How to care for a {{plant['species']}}</a></p>
                <p><a href='https://www.google.com/search?q=How+much+sun+does+a+{{plant["species"]}}+need' style="text-decoration: underline" target="blank">How much sunlight does a {{plant['species']}} need</a></p>
            {% endif %}
        </div>
    </div>
</body>
<script>
async function water() {
    await fetch("/api/addWatering?id={{plant['_id']}}");
    window.location.reload();
}
</script>
</html>