#my-plants-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 70px;
}

#my-plants-body h1 {
    font-size: 50px;
    margin-bottom: -10px;
}

#my-plants-body p {
    font-size: 20px;
    margin-top: 30px;
    line-height: 40px;
}

#plant-cards {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.card {
    /* positioning and transtition things */
    position: relative;
    border: 1px solid white;
    border-radius: 8px;
    width: 300px;
    height: 10%;
    margin: 2%;
    transition: transform 0.3s ease;
    overflow: auto;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.card-top {
    height:180px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.116);
}

.card-bottom {
    padding: 10px;
    letter-spacing: 1px;
    line-height: 24px;
    height: 120px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.3);
}

.card-divider {
    border-bottom: 1px solid white;
}

b {
    padding-bottom: -2px;
    border-bottom: 2px solid white;
}

#not-plants {
    text-align: center;
    flex-wrap: wrap;
}


.card-bottom::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0);
    width: 8px;
}

.card-bottom::-webkit-scrollbar-thumb {
    background-color: #fffefe8e;
    border-radius: 5px;
}